.container {
  display: flex;
  background-color: green;
  padding: 30px;
}

.box {
  background-color: black;
  color: aqua;
}

.input {
  width: 30%;
  margin-left: 300px;
}
.button {
  margin-left: auto;
}
